* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #2081C3;
}

li {
    padding: 10px;
}

ul {
    margin-bottom: 20px;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 5px 10px #000;
}


