.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background-color: var(--green);
    padding: 6px 14px;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.sidebar .logo_content .logo img {
    margin-right: 5px;
}

.sidebar .logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 25px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: #f5f5f5;
    padding-left: 50px;
    font-size: 15px;
    color: #333;
}

.sidebar ul li .icon_search {
    position: absolute;
    margin-top: 10px;
    z-index: 99;
    color: #fff;
    font-size: 22px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar ul li a:hover {
    color: var(--light-gray);
    background-color: var(--light-green);
}

.sidebar ul li img {
    height: 25px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
}


.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
}

.sidebar .profile_content .profile .profile_details {
    display: flex;
    align-items: center;
}

.sidebar .profile_content .profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px
}

.sidebar .profile_content .profile .profile_details .name_job {
    margin-right: 10px;  
}

.sidebar .profile_content .profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}

.sidebar .profile_content .profile .profile_details .job {
    font-size: 12px;
}

.sidebar .profile_content .profile #log_out {
    position: absolute;
    left: 88%;
    bottom: 5px;
    transform: translateX(-50%);
}