@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Ubuntu&display=swap');

:root {
  --black: #4D4C59;
  --purple: #6C63FF;
  --light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;    
  background-color: white;
}

.container .top {
  position: absolute;
}

.container .form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container .form .countdown {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.container .form .countdown h1 {
  color: var(--purple);
  font-size: 60px;
}

.container .form .countdown .sign {
  width: 30%;
  height: 40px;
  background-color: var(--purple);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.container .form .countdown table {
  width: 80%;
}

.container .form .countdown table thead tr th {
  color: var(--text-color);
  font-size: 10px;
}

.container .form .countdown table tbody tr td {
  font-size: 60px;
}

.container .form .rocket img {
  width: 100%;
}