@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Ubuntu&display=swap');

:root {
    --ice: #EEEEEE;
    --dark: #0F0F10;
    --gold: #958044;
    --white: #FFFFFF;
    
    /* rocketseat colors */
    --black: #000000;
    --purple: #6846b8;
    --green: #03be57;

    /*recipe*/
    --recipe: #fcf58d;
    /*html*/
    --html: #66cae3;
    /*rocketnews*/
    --rn: #0F0F10;
    /*sidebar*/
    --vet: #8ed7c6;
    /*countdown*/
    --countdown: 
    #ff7a7a;    
    /*socialtree*/
    --tree: #bae3ff;
    /*profile*/
    --profile: #e3e3e3;
    /*switcher*/
    --switcher: #e3e3e3;
    /*card*/
    --rc: #66cae3;
    /*rocketflix*/
    --rf: #0F0F10;
    /*devfinances*/
    --devfinances: #3dd705;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}
