@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

html {
    background-color: #f5f5f5;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 26px
}

h2 {
    font-size: 18px
}

.div-container {
    width: 100%;
    height: 100%;
    background-color: #2081C3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 20px #000;
    padding: 20px
}

.div-container .main-container {
    width: 70%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

.div-container .main-container .top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-container .main-container .top-container h1 {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.div-container .main-container .top-container img {
    border-radius: 10px;
    width: 100%;
    padding: 40px;
}

.div-container .main-container .top-container figcaption {
    padding: 40px;
}

.div-container .main-container .bottom-container {
    padding: 40px;
}

.div-container .main-container .bottom-container ul, p{
    padding: 20px;
}